body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    font-family: "Open Sans", "Barlow Condensed";
    font-size: x-large;
}


/* Header and header items*/
header{
    margin: 0;
}
.navbar-container{
    border: 1px white solid;
    display: flex;
    justify-content: center;
    margin: 1% 0;
}
.navbar-inner-container{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    border: 1px black solid;
    border-radius: 15px;
    padding: 0 10px 0 10px;   
}
.navbar-item{
    padding: 0 5px 0 5px;
    color: rgb(0, 0, 0);
    font-size: 30px;
}
.navbar-item, a:visited, a:any-link{
    color: black;
    text-decoration: underline;
}
.navbar-item a:hover{
    color: rgb(110, 110, 110);
    text-shadow: 1px 1px 1px rgb(110, 110, 110);
}


/* Main container and texts */
.main-container{
    text-align: center;
}
.projects-container a{
    text-decoration: none;
}
.projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*border: 1px blue solid;*/
    overflow: wrap;
}
.project-item{
    height: 45vh;
    width: 45vh;
    border: 3px rgb(0, 0, 0) solid;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.project-icon{
    border: 0px rgb(0, 0, 0) solid;
    border-radius: 5px;
    margin: 4px;
    height: 30vh;
    width: 30vh;
    object-fit: fill;
}
.project-title{
    margin: 5px 0 13px 0;
    font-weight: bold;
    letter-spacing: 2px;
}
.project-description{
    margin: 0 4px 0 4px;
    /*border: 1px rgb(53, 212, 53) solid;
    border: 1px rgb(0, 0, 0) solid;*/
    border-radius: 4px;
    height: fit-content;
    top: 0;
    font-size: x-large;
}
/* Dialog */
dialog{
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 5px #888888;
    border-radius: 15px;
}
.close-dialog-button{
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 40px;

}
/* Project buttons */
.project-buttons{
    text-align: center;
    margin: 1vh;
    height: 4vh;
    font-size: 2.5vh;
    border-radius: 4px;
    border: 1px black solid;
    background-color: white;
}
.project-buttons:hover{
    border: 1px rgb(110, 110, 110) solid;
    color: rgb(110, 110, 110);
    text-decoration: underline;
}

.project-buttons-container{
    display: flex;
    justify-content: center;
}