body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    font-family: "Open Sans", "Barlow Condensed";
    font-size: x-large;
}


/* Header and header items*/
header{
    margin: 0;
}
.navbar-container{
    border: 1px white solid;
    display: flex;
    justify-content: center;
    margin: 1% 0;
}
.navbar-inner-container{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    border: 1px black solid;
    padding: 0 10px 0 10px;   
}
.navbar-item{
    padding: 0 5px 0 5px;
    color: rgb(0, 0, 0);
    font-size: 30px;
}
.navbar-item, a:visited, a:any-link{
    color: black;
    text-decoration: underline;
}
.navbar-item a:hover{
    color: rgb(110, 110, 110);
    text-shadow: 1px 1px 1px rgb(110, 110, 110);
}


/* Main container and texts */
.main-container{
    text-align: center;
}
.projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*border: 1px blue solid;*/
    overflow: wrap;
}
.project-item{
    height: 50vh;
    width: 50vh;
    border: 3px rgb(0, 0, 0) solid;
    border-radius: 4px;
    margin: 10px;
    text-align: center;
}
.project-icon{
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 5px;
    margin: 4px;
    height: 35vh;
    width: 35vh;
}
.project-title{
    margin: 0 0 4px 0;
    font-weight: bold;
    letter-spacing: 2px;
}
.project-description{
    margin: 0 4px 0 4px;
    /*border: 1px rgb(53, 212, 53) solid;
    border: 1px rgb(0, 0, 0) solid;*/
    border-radius: 4px;
    height: 8vh;
    top: 0;
    overflow: scroll;
    font-size: large;
}