@property --_w {
  syntax: '<length>';
  inherits: true;
  initial-value: 100vw; 
}
@property --_h {
  syntax: '<length>';
  inherits: true;
  initial-value: 100vh; 
}
:root {
  --w: tan(atan2(var(--_w),1px)); /* screen width */
  --h: tan(atan2(var(--_h),1px)); /* screen height*/
  /* The result is an integer without unit  */
}



body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    font-family: "Open Sans", "Barlow Condensed";
    font-size: x-large;
}



/* Header and header items*/
header{
    /*border: 1px blue solid;*/
    margin: 0;
}
.navbar-container{
    border: 1px white solid;
    display: flex;
    justify-content: center;
    margin: 1% 0;
}
.navbar-inner-container{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    border: 1px black solid;
    border-radius: 15px;
    padding: 0 10px 0 10px;   
}
.navbar-item{
    padding: 0 5px 0 5px;
    color: rgb(0, 0, 0);
    font-size: 30px;
}
.navbar-item, a:visited, a:any-link{
    color: black;
    text-decoration: underline;
}
.navbar-item a:hover{
    color: rgb(110, 110, 110);
    text-shadow: 1px 1px 1px rgb(110, 110, 110);
}


/* Body and body items*//*
@media (width >= 1200px) {
    
    .main-container{
        border: 4px rgb(0, 0, 0) solid;
        width: 30%;
        
        margin: auto;
        position: relative;
        top: 50%;
        transform: translateY(150%);
    }
    .text-container {
        text-align: center;
        border:1px lightcyan solid;
    }
}*/
/*DESKTOP MAIN CONTAINER*/
@media (width >= 1000px) {   
    .main-container{
        border: 4px rgb(0, 0, 0) solid;
        width: 30%;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        margin: auto;
        position: relative;
        top: 50%;
        transform: translateY(10vw);
        border-radius: 15px;
    }
    .text-container {
        text-align: center;
        /*border:1px lightcyan solid;*/
    }
}
/*MOBILE MAIN CONTAINER*/
@media (width < 1000px) {
    .main-container{
        border: 4px rgb(0, 0, 0) solid;
        width: 90%;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
        margin: auto;
        position: relative;
        top: 50%;
        transform: translateY(32%);
        border-radius: 15px;
    }
    .text-container {
        text-align: center;
        /*border:1px lightcyan solid;*/
    }
}