header {
   /* border:1px black solid;*/
    text-align: center;
    text-decoration: underline;
    font-family: sans-serif;
}
.description{
    margin: 5px 4% 2% 0;
}

.main-content{
    /*border: 1px red solid;*/
    margin: 2%;
    text-align: center;
}
.input-box{
    border: 5px black solid;
    border-radius: 3px;
    height: auto;
    width: 80%;
    border-style: solid;
    resize: none; 
    overflow:hidden;
    margin-top: 0;
    font-size: x-large;
}


body {
    margin-top: 2px;
    /*background-color: lightblue;*/
}